.loginbox{
    width: 350px;
    height: 420px;
    border-radius: 20px;
    background-color:var(--secondary);
    color: var(--secondary-text);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -55px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.loginbox label{
    margin:0 ;
    padding: 0;
    font-weight: bold;
    color: var(--secondary-text);
}
.username{
    background: var(--secondary);
    position: absolute;
    top: 107px;
    left: 40px;
}
.password{
    background: var(--secondary);
    position: absolute;
    top: 163px;
    left: 40px;

}
.loginbox input{
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
}
.loginbox input:focus{
    box-shadow: 0 0 10px 0 var(--secondary-text);
}

.loginbox input[type="text"], input[type="password"]{

    border: solid var(--secondary-text) 1px;
    background: transparent;
    outline: none;
    height: 40px;
    color: #F17921;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: bold;
}
button{
    width: 100%;
    outline: none;
    height: 40px;
    background: #F17921;
    font-size: 1em;
    font-weight: bold;
    border: solid #dbbbdc 1px;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}
button:hover{
    cursor: pointer;
    background: var(--secondary);
    color: #F17921;
    border: solid var(--secondary-text) 1px;
}
.loginbox a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: var(--secondary-text);
}
.loginbox a:hover{
    color: #F17921;
}



